*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4feff;
}

.header{
text-align: center;
padding: 20px;
background-color: #007b83;
color: #f4feff;
}


.main-container{
    margin: 20px auto;
    padding: 20px;
    background-color: #007b83;
    border-radius: 200px;
    max-width: 1000px;
    box-shadow: 0 4px 8pxrgb(56, 56, 56);
    justify-content: center;


}
.side-photo{
    text-align: center;
 
}

#cat-image{
    width: 300px;
    height: 300px;
    
}

.text{
    text-align: center;
    padding: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #f4feff;
    margin-top: 15px;
    font-size: 30px;
 }
.side-up{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.side-up p{
    background-color: #014951;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.side-down{
   display: flex;
   justify-content: space-around;
   padding: 20px;
   margin-bottom: 20px;
}


.side-down img{
    width: 110px;
    height: 110px;
    cursor: pointer;
    background-color: #007b83;
}
#feed-button, #sleep-button, #play-button{
    background-color: #007b83;
    border: none;
    
}

.Button{
    padding: 10px;
    border-radius: 35px;
    border: none;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #0363af;
    
 }
 #volume-icon{
    min-width: 15px; /* Set the same for both icons */
    min-height: 15px; /* Set the same for both icons */
    display: flex;
    align-items: center;
    justify-content: center;

 }

 .dark-mode-button {
    background-color:  #0c0904;
    color: white;
    border: none;
    border-radius: 35px;
    padding: 10px ;
    position: absolute;
    top: 20px;
    left: 20px;
   
}

body.dark-mode {
    background-color: #0a1819;
}
body.dark-mode .header {
    background-color: #d52967;
}
body.dark-mode .header h1{
    color:  #0a1819;
}
body.dark-mode .main-container {
    background-color: #d52967;
}
body.dark-mode .side-up p{
    background-color: #0a1819;
}
body.dark-mode .side-down img{
    background-color: #d52967;
}
body.dark-mode #feed-button, body.dark-mode #sleep-button, body.dark-mode #play-button{
    background-color: #d52967;
}
body.dark-mode .dark-mode-button{
    background-color: #f1a514;
}
body.dark-mode .text{
    color: #0a1819;
    
}